

<form>
    <div class="form-group">
        <div class="form-group input-group">
            <input class="form-control" formControlName="user" placeholder="UserName" type="text" />
        </div>

        <div class="form-group input-group">
            <input class="form-control" formControlName="passwd" placeholder="Password" type="text" />
        </div>

        <div class="form-group input-group">
            <input class="form-control" formControlName="role" placeholder="Role" type="text" />
        </div>

        <button type="button" (click)="test()">test</button>

    </div>
</form>




docker -- kitematic -- azure data