

<form>
    <div class="form-group">
        <div class="form-group input-group">
            <input [formControl]="userForm.controls.user" class="form-control"  placeholder="UserName" type="text" />
        </div>

        <div class="form-group input-group">
            <input [formControl]="userForm.controls.passwd" class="form-control" placeholder="Password" type="text" />
        </div>

        <div class="form-group input-group">
            <input [formControl]="userForm.controls.role" class="form-control" placeholder="Role" type="text" />
        </div>

        <button type="button" (click)="test()">test</button>

    </div>
</form>




docker -- kitematic -- azure data